.artist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 10px 10px 5px 5px;
  border: 2px solid #454343;
  border-radius: 5px;
  width: 300px;
  background: #e3e2e2;
}

.artist-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artist-genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

img.artist-image {
  width: 100px;
  height: 100px;
}

img.spotify-logo {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

h3 {
  color: black;
  text-decoration: none;
}
