.logout {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensures the button stays on top of other elements */
}

.logout button {
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
}
