.genre {
  margin-top: 3px;
  margin-right: 5px;
  padding: 2px 5px 5px;
}

.genre-button {
  background-color: #9ec2eb;
  color: black;
  border-radius: 5px;
  border: 2px solid;
}

.genre-button:hover {
  border: 2px solid red;
}
