.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: darkgray;
  border-radius: 10px;
  padding: 8px;
}

.search-input {
  border: 0px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}
